<footer class="footer mt-4">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <div class="row">
                    <div class="col-md-2">
                        <img src="./assets/images/logo.svg" alt="" class='img-fluid'>
                    </div>

                    <div class="col-md-10">
                        <div class="about-info text-justify">
                            <h2 class="about-info-name">
                                <strong>Felipe</strong>Linares
                            </h2>
                            <p class="about-info-job">Ux Designer,Developer & Consultant</p>
                            <p class="my-4">&copy; 2020 Felipe Linares. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <app-social-media></app-social-media>
            </div>

        </div>
    </div>
</footer>