.btn{
    padding: 10px 30px;
    cursor: pointer;
    border:none;
    outline: none;
    min-width:150px;
    margin:10px 0;
    font-size: 1.4em;
    transition: all 0.4s ease-in-out;
    &:focus , &:active, &:focus{
        outline: 0;
        box-shadow: none !important
    }
    &-primary
    {
        background: $main-gradient;
        @extend .btn-rounded;
        border: 2px solid transparent;
        &:hover{
            border: 2px solid darken($main-color1, 20%);
        }
    }

    &-sucess
    {
        background: #FFF;
        color:$main-color1 ;
        @extend .btn-rounded;
        @extend .btn-shadow;
        &:hover{
            background: darken(#FFF, 20%);
        }
    }
    &-shadow{
        box-shadow: 10px 10px 30px rgba(24,24,24,.05), -10px -10px 30px #f9f9f9;
    }    
    &-rounded{
        border-radius: 50px;
    }
}

@media (max-width: 768px) { 

    .btns{
        display: flex;
        justify-content: center;
    }
}