<div class="row align-items-center">
    <div class="col-md-6" [class.order-md-1]='!isOdd'>
        <div>
            <img src="./assets/images/Asset.png" alt="" class="img-fluid">
        </div>
    </div>
    <div class="col-md-6">
        <span class="main-color slogan">Understand. together.</span>
        <h2>
            <strong>Data</strong>Visualization
        </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, mollitia earum eos nemo
            dolore dicta consequatur est aliquam, molestiae ullam distinctio quam natus. Ipsa omnis
            corrupti similique exercitationem, ea eaque.</p>
        <div class="btns my-5">
            <button class="btn btn-primary mr-4">Let's create</button>
            <button class="btn btn-sucess shadow-red">Get in touch</button>
        </div>
    </div>

</div>