<div class="row align-items-center">
    <div class="col-md-6" [class.order-md-1]='!isOdd'>
        <div>
            <img src="./assets/images/Asset.png" alt="" class="img-fluid">
        </div>
    </div>
    <div class="col-md-6">
        <span class="main-color slogan">{{item.slogan}}</span>
        <h2>
            <strong>{{item.title1}}</strong>{{item.title2}}
        </h2>
        <p>{{item.description}}</p>
        <div class="btns my-5">
            <a class="btn btn-primary mr-4" [href]="item.createLink">Let's create</a>
            <button class="btn btn-sucess shadow-red">Get in touch</button>
        </div>
    </div>

</div>