<div class="about-info">
    <h1 class="about-info-name">
        <strong>Felipe</strong>Linares
    </h1>
    <p class="about-info-job">Ux Designer,Developer & Consultant</p>
</div>
<div class="seperator"></div>
<div class="about-info-bio">
    <p>I'm a designer and developer based in Colombia</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum eligendi velit sit quia
        placeat
        quidem, nihil dolorum quis sunt dolores eos minus pariatur eveniet unde id vel. Aspernatur,
        repellendus voluptates!</p>
</div>
<div class="btns">
    <button class="btn btn-primary mr-4">Work Together</button>
    <button class="btn btn-sucess">Resume</button>
</div>