<section class='contact'>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <span class="main-color slogan">Let's Create</span>
                <h2><strong>Work</strong>Together</h2>
                <p>Tell me about your needs and let's start working togther on the best solution for users and
                    business.</p>
                <p>I'm not a freelancer,I will be part of your team. </p>

                <span class="main-color slogan d-inline-block my-4">My digital print</span>
                <h3><strong>Let's</strong>Connect</h3>
                <app-social-media></app-social-media>
            </div>

            <div class="col-md-6">
                <form [formGroup]='form' (ngSubmit)="onSubmit()">
                    <div class='form-group'>
                        <label for="name">Let's meet . What's your name ? </label>
                        <input type="text" name="name" formControlName="name" id='name'
                            class="form-control form-control-lg">
                        <span class='has-error' *ngIf="name.errors?.required && name.touched">
                            this field is required
                        </span>
                    </div>
                    <div class='form-group'>
                        <label for="email">and your mail ...</label>
                        <input type="email" name="email" formControlName="email" id='email'
                            class="form-control form-control-lg">
                        <span class='has-error' *ngIf="email.errors?.required && email.touched">
                            this field is required
                        </span>

                        <span class='has-error' *ngIf="email.errors?.email && email.touched">
                            Please write your email in a correct way
                        </span>

                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class='form-group'>
                                <label for="service">How can I help you ? </label>
                                <select name="service" id='service' formControlName="service"
                                    class="form-control form-control-lg">
                                    <option value="app-design">App design</option>
                                </select>
                                <span class='has-error' *ngIf="service.errors?.required && service.touched">
                                    this field is required
                                </span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class='form-group'>
                                <label for="priority">What's the priority ?</label>
                                <select name="priority" id='priority' formControlName="priority"
                                    class="form-control form-control-lg">
                                    <option value="we-have-time">We have time</option>
                                </select>
                                <span class='has-error' *ngIf="priority.errors?.required && priority.touched">
                                    this field is required
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class='form-group'>
                        <label for="about-project">Tell me about your project </label>
                        <textarea placeholder="Budget, extra details, deadlines,special requirements"
                            formControlName="about-project" name="about-project" id='about-project'
                            class="form-control form-control-lg"></textarea>
                        <span class='has-error' *ngIf="aboutProject.errors?.required && aboutProject.touched">
                            this field is required
                        </span>
                    </div>
                    <button class="btn btn-primary my-4" [disabled]="form.invalid"
                        [class.avoid-click]="form.invalid">Let's Work</button>

                </form>
            </div>
        </div>
    </div>
</section>